<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- next 21 lines added 15 may 17 -->
    <header class="row">
      
      <div class="col-3">
        
        <div class="circle">
        <br />
        You know
        <br />
        you need
        <br />
        to code
        </div>
        
      </div>
      
      <div class="col-4 slogan">
        Splurting out unsolicited advice since 2017
      </div>
      
      <div class="col-5 links">
        <%= link_to 'Contribute', '#' %>
        <%= link_to 'About', '#' %>
      </div>
      
    </header>
    
    <hr />
    
    <br class="clear" />
    <!-- next line added 16 may 17 -->
    <div class="container">
      <%= yield %>
    <!-- next 8 lines added 16 may 17 -->
    </div>
    
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= link_to "This isn't enough, I need more", "#", class: "next-quote" %>
          </div>
          <div class="col-6 footer-blurb">
            Part of a student project by <a href="https://www.linkedin.com/in/victorchristensen">Victor Christensen</a><br />
            Want to build your own Splurty Web App - <a href="http://thefirehoseproject.com">Learn how to code here</a>
          </div>
<!--          <p class="text-muted">Place sticky footer content here.</p>  -->
        </div>
      </div>
    </div>
    
  </body>
</html>
